* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.container {
  background-color: pink;
}

.box {
  background-color: #e85757;
  border: 10px solid #9851e0;
  padding: 20px;
  width: 80px;
  height: 80px;
}

.box-one {
  margin-bottom: 30px;
  box-sizing: border-box;
}

.box-two {
  margin-top: 50px;
}
