body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
}

.box {
  background: white;
  padding: 2em;
  color:red;
  /*box shadow with horizontal and vertical offset and blur radius, spread*/
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
  /*box shadow with negative value moves shadow opposite direction of default*/
  /* box-shadow: -100px -100px; */
