.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: width;
  transition-duration: 2s;
}

.container:hover .box {
  width: 600px;
}

.one {
  background: #07beb8;
  transition-timing-function: linear;
}

.two {
  background: #3dccc7;
  transition-timing-function: ease-in;
}

.three {
  background: #9ceaef;
  transition-timing-function: ease-out;
}

.four {
  background: #b1f8f2;
  transition-timing-function: ease-in-out;
}
