.container {
  background: pink;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  /*By default flex direction is row*/
  display: flex;
  /* flex-direction: column; */
  /*By default flex wrap is set to no-wrap which causes elements to overflow*/
  flex-wrap: wrap;
  /*flex-flow property is combination of flex-direction and flex-wrap*/
  /* flex-flow: column wrap; */

  /*Aligns element in respect to main axis*/
  justify-content: center;

  /*Align elements in respect to cross axis*/
  /*By default align items is stretch to fill available space*/
  align-items: stretch;

  /*align-content aligns elements in container as one group of elements*/
  /* align-content: center; */
}

.item {
  background: lightblue;
  margin: 0.5em;
  /* width: 25%; */

  /*
  Using flexbox property inside flexbox to center it's content
  */
  display: flex;
  justify-content: center;
  align-items: center;
}
