.container {
  background: pink;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  /*By default flex direction is row*/
  display: flex;
  /*By default flex wrap is set to no-wrap which causes elements to overflow*/
  flex-wrap: wrap;
}

.item {
  background: lightblue;
  margin: 0.5em;
  width: 25%;
}
