.container {
  background: pink;
  height: 50vh;
  width: 50vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  /*By default flex direction is row*/
  display: flex;
  /*By default flex wrap is set to no-wrap which causes elements to overflow*/
  flex-wrap: wrap;
  /*flex-flow property is combination of flex-direction and flex-wrap*/
  /* flex-flow: column wrap; */

  /*Aligns element in respect to main axis*/
  justify-content: space-evenly;

  /*Align elements in respect to cross axis*/
  align-items: flex-end;
}

.item {
  background: lightblue;
  margin: 0.5em;
  /* width: 25%; */
}
