.container {
  background: pink;
  height: 50vh;
  width: 90vw;
  padding: 0.5em;
  margin: 25vh auto 0;

  display: flex;
  align-items: flex-start;
}

.item {
  background: lightblue;
  margin: 0.6em;
}

.one {
  /*flex grow takes all the left over space and divides among flex grow properties*/
  /* flex-grow: 1; */

  /*Flex-basis is the starting point for element width to either grow or shrink*/
  /*Flex basis is width of flex item*/
  flex-basis: 250px;
}

.two {
  /*
    Flex grow set to 0 acts like max-width
    Flex shrink set to 0 acts like min-width
    */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;

  flex: 250px;

  /*align-self aligns elements individually within flexbox container*/
  align-self: flex-end;
}

.three {
  /*this element grows and shrinks faster than other two when screen resized*/
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 250px;

  flex-basis: 3 3 250px;
}
