.flexbox-container {
  background-color: green;
  display: flex;
  height: 90vh;
}

.flexbox-item {
  width: 200px;
  background-color: #ff652f;
  border: 3px solid #272727;
  color: #fff;
  font-size: 2em;
  padding: 20px;
  margin: 10px;
}

.item-1 {
  min-height: 100px;
  /*this item does not shrink at all*/
  flex-shrink: 0;
  flex-basis: 0;
}

.item-2 {
  min-height: 200px;
  /*this item grows to fill the available space when screen is resized*/
  flex-grow: 1;
  flex-basis: 0;

  /*align self positions elements individually within flexbox container*/
  align-self: center;
}

.item-3 {
  min-height: 300px;
  /*
    flex-grow: 2; is not 2x bigger than flex-grow:1 
    because generally flex-grow takes all the left over space and divides among flex grow property of elements
    */
  flex-grow: 2;
  /*Flex basis set to 0 to make item 3 grow twice as big as item 2*/
  flex-basis: 0;
}
